mixin socialButtons(modifier)
  //use without semantic to avoid typography inheritance
  div(class="uv-social " + modifier)
    div
      a.uv-social__link.uv-icon--social-fb(href="#") Facebook
    div
      a.uv-social__link.uv-icon--social-vk(href="#") Vkontakte
    div
      a.uv-social__link.uv-icon--social-tw(href="#") Twitter




mixin buyTicketBtn(cls)
  button(class=cls) Купить билет


mixin picture(imgPath, extension)
  - ext = extension || 'png'
  picture(class!=attributes.class)
    img(srcset='assets/img/#{imgPath}.#{ext}, assets/img/#{imgPath}_2x.#{ext} 2x', alt='')


mixin modalArticle(modifier)
  article(class='uv-modal__content  uv-article  ')
    header
      h2.uv-article__title Build tons of multi-device JavaScript applications, design patterns & high performance UI
    p И вот я беру хрустальный шар и вангую, что уже совсем скоро все изменится.
    p Мы вступаем в эпоху Дилетантов. Клиенты будут решать большинство веб-задач без привлечения специально обученных людей (нас).
    ul
      li search engine marketing (SEM)
      li display advertising
      li remarketing
      li E-mail marketing
      li Google Analytics
    p Остальное — на лекции. До встречи.
    aside
      h3.uv-article__sub-title Олександр Трегуб
      p Арт-директор дизайн-студии Akademia, сооснователь курса веб-дизайна в Школе визуальных технологий, автор "Метода казанка".
      p Язык выступления: русский
    
    footer.uv-article__footer
      +buyTicketBtn('uv-article__btn')
      
      div.uv-social--article__wrap
        span.uv-social--article__label поделиться
        +socialButtons('uv-social--article')

