doctype html
<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
html.no-js(lang='en')

  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    //- Modernizr
    script(src="assets/js/ua-web-challenge-modernizr.min.js")
    //- Primary stylesheet
    link(href='assets/css/ua-web-challenge-styles.min.css', rel='stylesheet')
    

  body(itemscope, itemtype='http://schema.org/WebPage')

    mixin buyTicketBtn(cls)
      button(class=cls) Купить билет


    
    nav.site-nav
      ul.site-nav__list
        li#[a.site-nav__link(href="#") Главная]
        li#[a.site-nav__link(href="#") Главная]
        li#[a.site-nav__link(href="#") Главная]
        li#[a.site-nav__link(href="#") Главная]
        li#[a.site-nav__link(href="#") Главная]

    aside.pre-header
      +buyTicketBtn('pre-header__btn')

      .pre-header__container
        select
          option(value="RU" default)
          option(value="УК")
          option(value="EN")
        span.site-nav__opener

    
    .onepage

      //- section.onepage-section.s-hero.us
      //-   .s-hero__container
      //-     header.s-hero__header
      //-       h1.s-hero__title
      //-         span.s-hero__title__font-accent IT #[br]
      //-         | Confe
      //-         span.s-hero__title__font-equal rence
      //-         span.s-hero__title__font-accent и
      //-         | я
      //-         time.s-hero__time 12 - 18 апреля
      //-       button.s-hero__btn купить билет
      //-       cite.s-hero__cite ... у нас интересней всего ©Женя

      //-     aside.s-hero__video

      
      //- section.onepage-section.uv-section--gray
      //-   div.s-whats-new
      //-     header
      //-       h2.s-whats-new__title Что нового?

      //-     ul.s-whats-new__article__list
      //-       li.s-whats-new__article
      //-         article
      //-           header
      //-             h3.s-whats-new__article__title Первая в Украине онлайн конференция для разработчиков
      //-           p Шесть дней докладов , которые Вы слушаете не выходя из дома или офиса. Это будет самая интенсивная неделя для Вашего профессионального развития
      //-       li.s-whats-new__article
      //-         article
      //-           header
      //-             h3.s-whats-new__article__title Всестороннее развитие
      //-           p Бекенд разработчики интересуются фронтенд новинками, тестировщики - бекендом, дизайнеры - фронтендом, а фронтенды - дизайном. Мы даём возможность всем удовлетворить свой интерес, не бегая на три-четыре профильных конференции

      //-       li.s-whats-new__article
      //-         article
      //-           header
      //-             h3.s-whats-new__article__title Душевная оффлайн автепати
      //-           p Только для участников ІТ-Конференции и экспертов. Вы сможете пропустить пару бокальчиков с коллегами по цеху или  поужинать вместе с экспертом
      //-       li.s-whats-new__article
      //-         article
      //-           header
      //-             h3.s-whats-new__article__title Все темы уникальны
      //-           p Ранее спикеры с ними нигде не выступали. Спикеры – признанные эксперты и реальные практики

                
      //- section.onepage-section.s-for-whom
      //-   div.s-for-whom__container.pane-1
      //-     header.s-for-whom__header
      //-       h2.s-for-whom__title для кого?

      //-       ul.s-for-whom__nav
      //-         li.s-for-whom__nav__unit.is-active для кого
      //-         li.s-for-whom__nav__unit front-end developers 
      //-         li.s-for-whom__nav__unit back-end developers 
      //-         li.s-for-whom__nav__unit testers
      //-         li.s-for-whom__nav__unit web-designers
      //-         li.s-for-whom__nav__unit startupers

          
      //-     .s-for-whom__content

      //-       article.s-for-whom__content__section.is-active
      //-         span.s-for-whom__content__section__label
      //-         div
      //-           h4 В фокусе
      //-           p тенденции в веб-дизайне, самые дорогие и качественные кейсы, лайфхаки от настоящих мастеров.
      //-           p Присоединяйтесь к нам на день с высококлассными презентациями от лучших в нашей отрасли.
      //-         div
      //-           h4 Участники конференции
      //-           ul
      //-             li дизайнеры со стажем
      //-             li дизайнеры с серьёзным стажем, арт-директора и ведущие дизайнеры компаний
      //-             li джуниоры - их меньшинство и только те, кто крайне жаждет быстрого роста.   
      //-           p &nbsp;
      //-           p 
      //-             i Предупреждаем сразу - материалы не для  новичков

      //-       - i = 0
      //-       while i < 5
      //-         - i++
      //-         article.s-for-whom__content__section
      //-           span.s-for-whom__content__section__label
      //-           div
      //-             h4 В фокусе
      //-             p тенденции в веб-дизайне, самые дорогие и качественные кейсы, лайфхаки от настоящих мастеров.
      //-             p Присоединяйтесь к нам на день с высококлассными презентациями от лучших в нашей отрасли.
      //-           div
      //-             h4 Участники конференции
      //-             ul
      //-               li дизайнеры со стажем
      //-               li дизайнеры с серьёзным стажем, арт-директора и ведущие дизайнеры компаний
      //-               li джуниоры - их меньшинство и только те, кто крайне жаждет быстрого роста.   
      //-             p &nbsp;
      //-             p 
      //-               i Предупреждаем сразу - материалы не для  новичков
            


      //- section.onepage-section.s-speakers
      //-   - speakers = ['front-end', 'back-end', 'qa', 'web-design']

      //-   .s-speakers__container
      //-     header
      //-       h2.s-speakers__title Спикеры
          
      //-       div.s-speakers__header
      //-         ul.s-speakers__nav
      //-           li.s-speakers__nav__unit.is-active(data-speakers-type="all") все спикеры
      //-           each speaker in speakers
      //-             li.s-speakers__nav__unit(data-speakers-type="#{speaker}") #{speaker}

      //-         div.s-speakers__slider__nav
      //-           .s-speakers__slider__counter__wrap
      //-             span.s-speakers__slider__counter.current
      //-             | /
      //-             span.s-speakers__slider__counter.total
      //-           //- dynamic arrows insertion
      //-           .s-speakers__slider__arrows
      //-             span.s-speakers__slider__arrows__unit.prev
      //-             span.s-speakers__slider__arrows__unit.next


      //-     ul.s-speakers__slider
      //-       - i = 0
      //-       while i < 9
      //-         - i++
      //-         each speaker in speakers
      //-           li.uv-popup__trigger.s-speakers__person(data-speakers-type='#{speaker}')
      //-             img.s-speakers__person__photo(src="http://fakeimg.pl/165x170/?text=Photo", alt="")
      //-             div.uv-popup__info.s-speakers__person__body
      //-               h3.s-speakers__person__name #{speaker}
      //-               p розработчик комплексных супер-пупер решений
      //-               article.uv-popup__info
      //-                 h2 Самая ужасная вёрстка в мире: десять советов
      //-                 p Многолетний опыт сконцентрированный в советах которым не нужно следовать ни при каких обстоятельствах. Трудно переоценить вред от этого доклада.
                      
      //-                 footer
      //-                   h3 Юрий Артюх
      //-                   p Представитель украинского крыла «Web Standards Group», совладелец учебного центра Smartme.com.ua.
      //-                   +buyTicketBtn('s-speakers__buy-ticket-btn')

                  


      //- section.onepage-section.s-program
      //-   .uv-section__container.s-program__container
      //-     header
      //-       h2.s-program__title Программа

      //-     .s-program__body
      //-       nav.s-program__nav__list
      //-         ul
      //-           li.s-program__nav
      //-             time.s-program__nav__time 12.04 - 18.04
      //-             | вся программа
      //-           li.s-program__nav
      //-             time.s-program__nav__time 12.04 - 18.04
      //-             | вся программа
      //-           li.s-program__nav
      //-             time.s-program__nav__time 12.04 - 18.04
      //-             | вся программа
      //-           li.s-program__nav
      //-             time.s-program__nav__time 12.04 - 18.04
      //-             | вся программа
      //-           li.s-program__nav
      //-             time.s-program__nav__time 12.04 - 18.04
      //-             | вся программа
      //-           li.s-program__nav
      //-             time.s-program__nav__time 12.04 - 18.04
      //-             | вся программа
      //-           li.s-program__nav
      //-             time.s-program__nav__time 12.04 - 18.04
      //-             | вся программа
      //-           li.s-program__nav
      //-             time.s-program__nav__time 12.04 - 18.04
      //-             | вся программа


      //-       ul.s-program__schedule
      //-         - i = 0
      //-         while i < 7
      //-           - i++
      //-           li
      //-             article.s-program__schedule__unit
      //-               header.s-program__schedule__unit__header
      //-                 time 09:00-10:00
      //-                 h3 Александр Трегуб
      //-               p Место юзабилити в процессе разработки. Мечты и реалии 
      //-           if i == 3
      //-             li.s-program__schedule__unit--dinner
      //-               time 13:00-14:00
      //-               i.s-program__schedule__unit--dinner__icon
      //-               span обед


      div.onepage-section.s-pricing
        
        mixin price(num1, num2)
          b.s-pricing__type__price.early= num1
          / с 01.03 - 
          b.s-pricing__type__price= num2

        - types = ['light', 'gold', 'premium']

        each type in types
          section(class="s-pricing__type  #{type}")
            div.s-pricing__type__container
              header.s-pricing__type__header
                h2.s-pricing__type__title #{type}
                p лучший вариант если Вас интересует только одно направление

              ul.s-pricing__type__list
                li посещение 1 дня на выбор
                li бонусный день - первый или последний на выбор
                li раздаточный материал с доставкой
                li запись выступлений Ваших дней

              footer.s-pricing__type__footer
                +price(450, 550)
                +buyTicketBtn('s-pricing__type__btn')




      section.onepage-section 7
      section.onepage-section 8



    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='assets/js/ua-web-challenge-plugins.js')
    script(src='assets/js/ua-web-challenge-scripts.js')
    // script(src='assets/js/ua-web-challenge-plugins.min.js')
    // script(src='assets/js/ua-web-challenge-scripts.min.js')

